*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,body{
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body{
  background: url("image/background.png");
  width: 98%;
  height: 98%;
  margin: auto;
 }


.profile {
  width: 20rem;
  border-radius: 45rem;
  object-fit: cover;
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
  margin-left: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: inline-block; /* Make the container fit the image */
  box-shadow: 3px 3px 5px rgba(255, 248, 8, 0.904); /* Add a shadow effect */
}

.banner {
  position: relative;
  z-index: 1; /* set z-index to 1 so the banner appears above the body content */
  object-fit: cover;
  border: .6rem solid #a5b6c5;
}

.banner::before {
  content: "DC";
  background-image: url('image/US-WashingtonDC.jpg');
  background-size:cover ;
  background-position: top;
  position: absolute  ;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 105%;
  opacity: 0.8; /* adjust opacity as desired */
  z-index: -1; /* set z-index to -1 so the banner appears behind the profile picture */
}


.bulletLinks{
  text-decoration: none;
  font-size: 1.6rem;
  margin-top: 0%;
  margin-left: 5rem;  
}

.n{
  text-decoration: none;
}

.username {
  text-align: left;
  font-size: 4.2rem;
  font-family: 'Bradley Hand ITC', Consolas;
  /* background-color: rgb(165, 173, 132); */
  color: #430dc9;
  text-decoration: none;
  display: inline-flex;
  margin-top: .8rem;
  margin-bottom: .6rem; 
}

.end {
  color: rgb(118, 140, 165);
  font-family: "Lucida Sans Unicode", Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: .4rem;
  margin-bottom: .3rem;
}

.val{ 
  display: flex;
  gap: 1rem;
  justify-content: center;
  opacity: 0.7;
}

h3{ 
color: rgba(52, 77, 158, 0.884);
font-size: 2rem;  
font-weight: bold;
}

blockquote{
  background-color: rgb(199, 188, 128);
  display: inline-flex;
  font-style: italic;
  font-family: Cambria;
  font-size: 1.6rem;
  border: .1rem rgb(141, 130, 130);
  padding: .8rem;
}
.footBanner{
  margin: -.9rem;
  background-color: rgb(185, 170, 104) ;
}

.hrr {
  border: 2px solid rgb(150, 108, 56);
  margin-left: -.9rem;
  margin-right: -.9rem;
  margin-bottom: .9rem;
}

.labsItem{   
  /* border: 2px solid rgb(156, 120, 120);
  border-radius: 8px; */
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  text-decoration: none;
 }

 .iconWeb{
    width: 1.5rem;
  font-size: 1rem;
 }