/* body{
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(186, 194, 197);   
} */

body{
    background-image: url("image/background.png");
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family: "Verdana", "Geneva", sans-serif;
    padding-left: 1em;
    }

.fieldBox {
    float:left;
}

.first{
    width: 550px;
    margin-top: 10%;
    border: 2px solid rgb(17, 182, 108);
    padding: 10px;
    background-color: rgb(191, 191, 237);    
}

.left{
    float: left;    
    width: 45%;
}

.left input{
    width: 77%;
}

.left button{
    width: 80%;
}

.rigth{
    float: right;
    width: 45%;
}

.rigth h3{
    margin: 0;
}

.rigth textarea{
    margin-top: 0%;     
}

.val{ 
    display: flex;
    gap: 10px;
    justify-content: left;
    opacity: 0.7;
}